
@model dynamic

<h2>Customer Details </h2>
<div>
    <p><strong>Contact Name:</strong> @Model.ContactName</p>
    <p><strong>Company Name:</strong> @Model.CompanyName</p>
    <p><strong>Address:</strong> @Model.Address</p>
    <p><strong>City:</strong> @Model.City</p>
    <p><strong>Country:</strong> @Model.Country</p>
</div>

